In [14]:
import sqlite3
import psycopg2

In [15]:
conexion = sqlite3.connect('clase5.db')
#conexion.close()

In [16]:
cursor = conexion.cursor()

cursor.execute('CREATE TABLE IF NOT EXISTS usuarios' \
               '(nombre VARCHAR(100), edad INTEGER, mail VARCHAR(50))') 
conexion.commit()
#conexion.close()

In [17]:
cursor.execute('INSERT INTO usuarios VALUES' \
               "('Hector', 27, 'hector@mail.com')")

conexion.commit()

In [26]:
cursor.execute('SELECT * FROM usuarios')

print(cursor)
usuario = cursor.fetchone()
print(usuario)
conexion.commit()
#conexion.close()

<sqlite3.Cursor object at 0x7f98e4339b90>
('Hector', 27, 'hector@mail.com')

In [27]:
#crear lista con usuarios
usuarios = [('Lina', 30, 'lina@mail.com'), 
            ('Jhon', 40, 'jhon@mail.com'), 
            ('maria', 15, 'maria@mail.com')]

cursor.executemany('INSERT INTO usuarios VALUES (?,?,?)', usuarios)

usuario = cursor.fetchall()
for usuario in usuarios:
    print(usuarios)

conexion.commit()

[('Lina', 30, 'lina@mail.com'), ('Jhon', 40, 'jhon@mail.com'), ('maria', 15, 'maria@mail.com')]
[('Lina', 30, 'lina@mail.com'), ('Jhon', 40, 'jhon@mail.com'), ('maria', 15, 'maria@mail.com')]
[('Lina', 30, 'lina@mail.com'), ('Jhon', 40, 'jhon@mail.com'), ('maria', 15, 'maria@mail.com')]

In [ ]:
cursor = conexion.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS usuarios(
dni VARCHAR(9) PRIMARY KEY,
nombre VARCHAR(100),
edad INTEGER,
email VARCHAR(100))''')

usuarios = cursor.fetchall()